<%= form_for(:entry, url: new_entry_path, html: { class: "w-full max-w-lg" }) do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
        <% entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="flex flex-wrap mx-3 mb-6">

    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <%= form.label :location, class: "input-label" %>
      <%= form.text_field :location, class: "input-field" %>
    </div>

    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <%= form.label :date, class: "input-label" %>
      <%= form.date_select :date %>
    </div>

    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <%= form.label :start_time, class: "input-label" %>
      <%= form.time_select :start_time %>
    </div>

    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <%= form.label :end_time, class: "input-label" %>
      <%= form.time_select :end_time %>
    </div>

    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <%= form.label :rating, class: "input-label" %>
      <%= form.number_field :rating, class: "input-field" %>
    </div>

    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <%= form.label :wave_height, class: "input-label" %>
      <%= form.text_field :wave_height, class: "input-field" %>
    </div>

    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <%= form.label :tide_height, class: "input-label" %>
      <%= form.text_field :tide_height, class: "input-field" %>
    </div>

    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <%= form.label :tide_direction, class: "input-label" %>
      <%= form.text_field :tide_direction, class: "input-field" %>
    </div>

    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <%= form.label :primary_swell_direction, class: "input-label" %>
      <%= form.text_field :primary_swell_direction, class: "input-field" %>
    </div>

    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <%= form.label :primary_swell_angle, class: "input-label" %>
      <%= form.number_field :primary_swell_angle, class: "input-field" %>
    </div>

    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <%= form.label :description, class: "input-label" %>
      <%= form.text_area :description, class: "input-field" %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>
