<%= form_for(:entry, url: new_entry_path, html: { class: "w-full max-w-lg" }) do |form| %>
  <% if entry.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(entry.errors.count, "error") %> prohibited this entry from being saved:</h2>

      <ul>
        <% entry.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="flex flex-wrap mx-3 mb-6">

    <div class="w-full md:w-1/2 px-3 mb-6 md:mb-0">
      <%= form.label :location, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
      <%= form.text_field :location, class: "appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" %>
    </div>

    <div class="field">
      <%= form.label :date, class: "block uppercase tracking-wide text-gray-700 text-xs font-bold mb-2" %>
      <%= form.date_select :date %>
    </div>

    <div class="field">
      <%= form.label :start_time %>
      <%= form.time_select :start_time %>
    </div>

    <div class="field">
      <%= form.label :end_time %>
      <%= form.time_select :end_time %>
    </div>

    <div class="field">
      <%= form.label :rating %>
      <%= form.number_field :rating %>
    </div>

    <div class="field">
      <%= form.label :wave_height %>
      <%= form.text_field :wave_height %>
    </div>

    <div class="field">
      <%= form.label :tide_height %>
      <%= form.text_field :tide_height %>
    </div>

    <div class="field">
      <%= form.label :tide_direction %>
      <%= form.text_field :tide_direction %>
    </div>

    <div class="field">
      <%= form.label :primary_swell_direction %>
      <%= form.text_field :primary_swell_direction %>
    </div>

    <div class="field">
      <%= form.label :primary_swell_angle %>
      <%= form.number_field :primary_swell_angle %>
    </div>

    <div class="field">
      <%= form.label :description %>
      <%= form.text_area :description %>
    </div>

    <div class="actions">
      <%= form.submit %>
    </div>
  </div>
<% end %>
